process {
    //the executor, visit the nextflow website for more info
    executor = local
    cpus = 1
    time = "3d"
    
}

params {
    //the output directory
    pileup_pipeline_home={working_dir}
    

    bam=""
    vcf=""


    //----------reference--------
    //path to reference fasta file, indexed using bwa, and samtools 0.19
    ref=""

    //----------annotation---------
    //exac tab file
    exac='""'
    //thousand genome tab file
    kg='""'
    //swefreq tab file
    swefreq='""'
    //genelist 
    genelist='""'
    //cadd file of indels
    cadd_indels='""'
    //cadd file of SNPs
    cadd_snps='""'
    //dbsnp vcf
    dbSNP='""'
    //clinvar vcf
    clinvar='""'
    //gnomad tab file
    gnomad='""'
    
    //-------------executables-----------
    gatk='""'
    picard='""'
    VEP_exec_file="variant_effect_predictor.pl"

}

trace {
    fields = 'task_id,hash,name,status,tag'
}
