process {
    //the executor, visit the nextflow website for more info
    executor = "local"
    cpus = 1
    time = "3d"    
}

params {
    //the output directory
    pileup_pipeline_home="{working_dir}"
    
    bam="none"

    //----------reference--------
    //path to reference fasta file, indexed using bwa, and samtools 0.19
    ref=""

    //----------annotation---------
    //genelist 
    genelist='""'
    //cadd file of indels

    vep_command="--force_overwrite --hgvs --symbol  --sift b --polyphen b  --vcf --offline --per_gene --cache --assembly GRCh37 --symbol --check_existing --gene_phenotype --af --max_af --af_1kg --af_gnomad"

    //-------------executables-----------
    VEP_exec_file="vep"
    
}

trace {
    fields = 'task_id,hash,name,status,tag'
}
